<section>
    <h1>Lupa password ?</h1>
    <p class="max-w-sm">Masukan Email anda agar dapat mengganti password akun anda</p>
    <div class="mt-16 max-w-sm">
        <app-text-field [form_field]="form_field">
        </app-text-field>
        <button mat-flat-button class="bg-primary text-white w-full text-lg" [routerLink]="['/menu']">kirim password</button>
        <div class="grid grid-cols-1">
            <a class="caption text-center" [routerLink]="['/auth/masuk']" routerLinkActive="router-link-active" >kembali</a>
        </div>
    </div>
</section>