<div class="hidden md:block">
    <app-landing-page-section [section_]='"layanan_hero"'></app-landing-page-section>
</div>
<div [ngClass]="common_section_margin_class">
    <div [ngClass]="device ? hidden_component : data_layanan_heading_2">
        <h1 [ngClass]="common_title_text">Daftar Pengurusan Layanan Desa Di Badung</h1>
    </div>
    <div>
        <app-text-field [form_field]="form_field" [grid]=true>
            <ng-container slot="cta_button">
                <div class="h-1/2 flex align-middle mt-3">
                    <button class="text-secondary">Reset Pencarian</button>
                </div>
            </ng-container>
        </app-text-field>
    </div>
</div>
<div [ngClass]="common_section_margin_class" *ngIf="data_found; then data_layanan_view else no_data">

</div>

<ng-template #no_data>
    <app-landing-page-section [section_]="'search_not_found'"></app-landing-page-section> 
</ng-template>

<ng-template #data_layanan_view>
    <app-card [card_pilihan]="'list_layanan'" [data_]="data_layanan"></app-card>
</ng-template>