<section class="flex justify-between" [ngClass]="common_section_margin_class">
    <h1 class="text-5xl">
        Pengajuan Terproses
    </h1>
    <button class=" text-primary hidden md:block">
        Kembali
    </button>
</section>
<section [ngClass]="common_section_margin_class">
        <app-text-field [form_field]="form_field" [grid]=true>
            <ng-container slot="cta_button">
                <div class="h-1/2 flex align-middle mt-3">
                    <button class="text-secondary">Reset Pencarian</button>
                </div>
            </ng-container>
        </app-text-field>
</section>
<section [ngClass]="common_section_margin_class" class="-mt-4"  *ngIf="data_found; then data_layanan_view else no_data">

</section>
<ng-template #no_data>
    <app-landing-page-section [section_]="'search_not_found'"></app-landing-page-section> 
</ng-template>

<ng-template #data_layanan_view>
    <app-card [card_pilihan]="'draft_layanan'" [data_]="data_draft"></app-card>
</ng-template>