<form [formGroup]="form_data" (ngSubmit)="onSubmit()"> 
    <!-- Section "Form Field Section" digunakan untuk menampilkan 
         form yang diperlukan dalam 
         input data layanan
    -->
    <section id="form-field-section" [ngClass]="grid ? input_form_grid_class : no_class" >
        <div *ngFor="let form of form_field;">
            <mat-form-field *ngIf="form.nama_form == 'nama' || form.nama_form == 'nik' || form.nama_form == 'tempat_lahir' || form.nama_form == 'pekerjaan' || form.nama_form == 'no_kk'" [ngClass]="grid ? form_grid_field : form_no_grid_field">
                <mat-label>{{form.nama_form}}</mat-label>
                <input matInput formControlName={{form.nama_form}} *ngIf="auth_form">
                <input matInput formControlName={{form.id}} *ngIf="!auth_form" [readonly]="this.readonly_form">
            </mat-form-field>

            <mat-form-field *ngIf="form.nama_form == 'tanggal_lahir'" [ngClass]="grid ? form_grid_field : form_no_grid_field">
                <mat-label>{{form.nama_form}}</mat-label>
                <input matInput [matDatepicker]="picker" formControlName={{form.nama_form}} *ngIf="auth_form">
                <input matInput [matDatepicker]="picker" formControlName={{form.id}} *ngIf="!auth_form" [readonly]="this.readonly_form">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field *ngIf="form.nama_form == 'email'" [ngClass]="grid ? form_grid_field : form_no_grid_field">
                <mat-label>{{form.nama_form}}</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" formControlName={{form.nama_form}} *ngIf="auth_form" required>
                <input matInput placeholder="pat@example.com" [formControl]="email" formControlName={{form.id}} *ngIf="!auth_form" [readonly]="this.readonly_form" required>
                <mat-error *ngIf="email.invalid" class="pt-4">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field *ngIf="form.nama_form == 'alasan' ||  form.nama_form == 'alamat'" [ngClass]="grid ? form_grid_field : form_no_grid_field">
                <mat-label>{{form.nama_form}}</mat-label>
                <textarea matInput formControlName={{form.nama_form}} *ngIf="auth_form"></textarea>
                <textarea matInput formControlName={{form.id}} *ngIf="!auth_form"></textarea>
            </mat-form-field>

            <mat-form-field *ngIf="form.nama_form == 'agama' || form.nama_form == 'status_perkawinan'" [ngClass]="grid ? form_grid_field : form_no_grid_field">
                <mat-label>{{form.nama_form}}</mat-label>
                <mat-select formControlName={{form.nama_form}} *ngIf="auth_form">
                    <mat-option value="">Pilih satu</mat-option>
                    <mat-option *ngFor="let value_field of form.value" [value]=value_field.id>{{value_field.name_value}}
                    </mat-option>
                </mat-select>
                <mat-select formControlName={{form.id}} *ngIf="!auth_form" [disabled]="this.readonly_form">
                    <mat-option value="">Pilih satu</mat-option>
                    <mat-option *ngFor="let value_field of form.value" [value]=value_field.id>{{value_field.name_value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="form.nama_form == 'password' || form.nama_form == 're-password'" class="pb-5" [ngClass]="grid ? form_grid_field : form_no_grid_field">
                <mat-form-field  class="form-field w-full">
                    <mat-label>{{form.nama_form}}</mat-label>
                    <input matInput [type]="hide_password ? 'password' : 'text'" formControlName={{form.nama_form}} *ngIf="auth_form">
                    <input matInput [type]="hide_password ? 'password' : 'text'" formControlName={{form.id}} *ngIf="!auth_form">
                    <button mat-icon-button matSuffix (click)="hide_password = !hide_password"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password">
                        <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <ng-content select="[id=password-field-link]" class="pt-0"></ng-content>
            </div>

            <section *ngIf="form.nama_form == 'berkas' || form.nama_form == 'foto_ktp' || form.nama_form == 'foto_kk'" [ngClass]="grid ? form_grid_field : form_no_grid_field" class="mt-5">
                <label class=" bg-primary text-white p-4 rounded-lg"><span>upload {{form.nama_form}}</span>
                    <br class="mt-2">
                    <input type="file" class="hidden" formControlName={{form.nama_form}} *ngIf="auth_form">
                    <input type="file" class="hidden" formControlName={{form.id}} *ngIf="!auth_form">
                </label>
            </section>

            <mat-form-field *ngIf="form.type == 'checkbox'" [ngClass]="grid ? form_grid_field : form_no_grid_field">
                <mat-checkbox>{{form.nama_form}}</mat-checkbox>
            </mat-form-field> 
        </div>
        <ng-content select="[slot=cta_button]"></ng-content>
    </section>
</form>