<section class="flex justify-between" [ngClass]="common_section_margin_class">
    <h1 class="text-5xl">
        Draft Pengajuan
    </h1>
    <button class=" text-primary hidden md:block">
        Kembali
    </button>
</section>
<section [ngClass]="common_section_margin_class" class="grid grid-cols-1 md:grid-cols-6 md:gap-4 grid-flow-row auto-rows-min">
    <div class="hidden md:block md:col-span-2" [ngClass]="card_class">
        <app-akun-saya></app-akun-saya>
    </div>
    <div class="md:col-span-4" [ngClass]="card_class">
        <app-detail-akun-saya></app-detail-akun-saya>
    </div>
</section>