<section>
    <h1>{{login}}.</h1>
    <p class="max-w-sm">{{penjelasan_login}}</p>
    <div class="mt-16 max-w-sm">
        <app-text-field [form_field]="form_field">
            <span id="password-field-link">
                <a class="caption">{{ganti_password}}</a>
            </span>
        </app-text-field>
        <mat-checkbox [(ngModel)]="checked" class="mt-10 mb-5 caption" [ngStyle]="{'font-family' : 'poppins, sans-serif'}">
            {{simpan_login}}
        </mat-checkbox>
        <button mat-flat-button class="bg-primary text-white w-full text-lg" [ngStyle]="{'padding-top' : '0.3rem', 'padding-bottom' : '0.3rem'}">{{login}}</button>
        <div class="flex">
            <p class="caption">{{buat_akun}}</p>
            <a class="caption text-accent"> {{registrasi}}</a>
        </div>
    </div>
</section>