<section id="hero" [ngClass]="hero_component_class">  
    <div [ngClass]="left_side_hero_child_component_class">
        <app-landing-page-section [section_]='"hero"'></app-landing-page-section>
    </div>
    <div [ngClass]="right_side_hero_child_component_class">
        <app-landing-page-section [section_]='"hero"'></app-landing-page-section>
    </div>
</section>

<section id="pengantar" [ngClass]="container_component">
    <app-landing-page-section [section_]='"pengantar"'></app-landing-page-section>
</section>

<section id="fitur-utama" [ngClass]="container_component">
    <div>

    </div>
</section>

<section id="penutup" [ngClass]="container_component">

</section>
