<section id="hero" class="mb-20 bg-gradient-to-tr from-primary to-secondary md:bg-none px-6 md:px-16">  
    <div class="hidden md:block">
        <app-landing-page-section [section_]='"hero"'></app-landing-page-section>
    </div>
    <div class="md:hidden pt-8">
        <app-landing-page-section [section_]='"hero"'></app-landing-page-section>
    </div>
</section>

<section id="pengantar" class="px-6 md:px-16">
    <app-landing-page-section [section_]='"pengantar"'></app-landing-page-section>
</section>

<section id="fitur-utama" class="px-6 md:px-16">
    <div>

    </div>
</section>

<section id="penutup" class="px-6 md:px-16">

</section>
