<section class="mb-10">
    <p class="sm:hidden">Detail</p>
    <h1 mat-dialog-title class="max-w-md mb-10">Surat Pengantar Pindah Datang Antar kecamatan</h1>
</section>
<section mat-dialog-content>
    <div class="mb-10">
        <h2 class="">Waktu Pengerjaan</h2>
        <p>5 - 10 Hari Kerja</p>
    </div>
    <div class="mb-10">
        <h2>Daftar Syarat</h2>
        <ul class="list-disc">
            <li>Harga diri</li>
            <li>KTP</li>
            <li>KK</li>
        </ul>
    </div>
</section>
<section mat-dialog-action>

</section>


